.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

table {
    table-layout:fixed;
    display: block;
    width:100%;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border: 1px solid #FF0000;
}

table td, th {
    border: 1px solid #FF0000;
}

.table-div{
    width:90%;
}